* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: #f7f2f6;
  }
  
  :root {
    --mainColor: #f069ca;
    --secondaryColor: #f5c1d8;
    --textColorWhite: #eee;
    --textColorBlack: black;
  }
  
  .about {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  
  .about-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: var(--darkBlue);
    color: var(--white);
    text-align: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }
  
  .about-info {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }
  
  .about-info h1 {
    padding: 30px;
  }
  
  .about-info p {
    line-height: 1.5;
  }
  
  .img-about img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 50% 30% 90% 10%;
  }
  
  .about-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    line-height: 1.6;
    margin-bottom: 50px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }
  
  .about-mission,
  .about-value {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    padding: 30px;
  }
  
  .about-founder {
    margin-bottom: 50px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5c1d8;
    line-height: 1.5;
    border-radius: 10%;
    margin: auto;
    padding: 20px;
  }
  
  .founder-text img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
  }
  
  .founder-text p {
    width: 100%;
    max-width: 500px;
    margin-bottom: 40px;
  }
  
  @media only screen and (max-width: 768px) {
    .about-section,
    .about-container,
    .about-mission,
    .about-value,
    .about-founder {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px;
    }
  
    .img-about img,
    .founder-text img {
      width: 100%;
      height: auto;
    }
  
    .about-info h1,
    .founder-text p {
      text-align: center;
    }
  
    .about-info,
    .founder-text {
      height: auto;
    }
  }
  