*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f2f6;
}

:root{
    --mainColor: #f069ca;
    --secondaryColor: #f5c1d8;
    --textColorWhite: #eee;
    --textColorBlack: black;
}
.makeup-artists-profile{
    margin: 100px auto;
    max-width: 1100px;
    height: fit-content;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.profile-img{
    width: 1030px;
    height: 600px;
}

.makeup-artists-profile h2{
    text-align: center;
    padding: 40px;
}
.profile-brandname{
    border-bottom: 3px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-address p{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
    font-size: 1.5rem;
    border-bottom: 3px solid #ccc;
}

.div-service h3{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.div-service ul li{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    padding: 20px 0;
    border-bottom: 3px solid #ccc;
}

.div-service .book{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: var(--mainColor);
    color: var(--textColorWhite);
    font-size: 16px;
    border: none;
}
.div-service .book:hover{
    background-color: var(--secondaryColor);
    color: var(--textColorBlack);
}

.div-contact{
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #ccc;
}

.div-contact h3{
    padding: 20px;
    font-size: 25px;
}
.div-contact p{
    padding-bottom: 30px;
    font-size: 25px;
}
.work-pictures{
    text-align: center;
    font-size: 20px;
    border-bottom: 3px solid #ccc;
}
.work-pictures h3{
    padding-top: 50px;
    padding-bottom: 30px;
}
.work-img{
    
    width:300px;
    height:200px;
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px, 1fr));
    gap: 10px;
}
.gride-item{
    /* overflow: hidden; */
    /* position: relative; */
    /* cursor: pointer; */
    /* height: 500px; */
    /* width: 500px; */
}
.gride-item img{
    /* height: 1300px; */
    /* width: 800px; */
}
.gride-item video{
    /* height: 400px; */
    /* width: 400px; */
    /* width: 100%;
    height: auto;
    display: block; */
}

.reviews-section{
    text-align: center;
    line-height: 2rem;
    padding-bottom: 20px;
    border-bottom: 3px solid #ccc;
}

.reviews-section h2{
    font-size: 2.5rem;
}
.reviews-section p{
    font-size: 1.5rem;
}

.add-review h3{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 2.2rem;
}

.comment-input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.3rem;
}

.rating-div{
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    background-color: var(--textColorWhite);
}

.review-submit{
    background-color: var(--mainColor);
    color: var(--textColorWhite);
    width: 30%;
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: .5s;
    cursor: pointer;
    text-align: center;
}
.review-submit:hover{
    background-color: var(--secondaryColor);
    color: var(--textColorBlack);
}
.post-review-section{
    text-align: center;
    margin-bottom: 60px;
}
.post-review-section h3{
    padding-bottom: 20px;
}
.post-review-section .rating .rate{
    font-size: 20px;
    padding-bottom: 20px;
}

.review-button{
    height: 40px;
    width: 130px;
    border-radius: 10px;
    background-color: var(--mainColor);
    color: var(--textColorWhite);
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}
  
.review p {
    margin: 5px 0;
}

@media (max-width: 1000px) and (min-width: 768px) {
    .makeup-artists-profile {
        margin: 20px auto;
        padding: 20px;
        width: 95%;
    }

    .profile-img{
        width: 100%;
        height: 400px;
    }

    .div-address p {
        font-size: 1.6rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .div-service h3 {
        font-size: 2.5rem;
        padding-top: 40px;
    }

    .div-service ul li {
        font-size: 1.5rem;
        padding: 15px 0;
    }

    .div-service .book {
        font-size: 1.2rem;
        width: 150px;
    }

    .div-contact h3 {
        font-size: 22px;
    }

    .div-contact p {
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .work-pictures h3 {
        font-size: 24px;
        padding-top: 40px;
    }

    .work-img {
        width: 250px;
        height: 150px;
    }

    .reviews-section h2 {
        font-size: 2.2rem;
    }

    .reviews-section p {
        font-size: 1.3rem;
    }

    .add-review h3 {
        font-size: 2rem;
    }

    .comment-input {
        width: 350px;
        height: 35px;
        font-size: 1.1rem;
    }

    .review-submit {
        font-size: 1.1rem;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .makeup-artists-profile {
        margin: 30px;
        padding: 10px;
        width: 70%;
    }

    .profile-img{
        width: 100%;
        height: 300px;
    }

    .div-address p, .profile-brandname{
        font-size: 1.2rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .div-service ul li, .div-contact p, .work-pictures h3 {
        font-size: 1.2rem;
    }

    .div-contact{
        padding: 10px;
    }

    .div-service .book {
        font-size: 0.9rem;
        width: 90px;
    }

    .work-img{

    }
    .grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .reviews-section h2 {
        font-size: 1.8rem;
    }

    .reviews-section p, .post-review-section h3 {
        font-size: 1rem;
    }

    .add-review h3{
        font-size: 1.8rem;
    }

    .comment-input {
        width: 80%;
        font-size: 1.2rem;
    }

    .review-submit {
        width: 100%;
    }
}

@media(max-width: 680px){
    .makeup-artists-profile{
        margin: 40px;
        width: 75%;
    }
}
@media(max-width: 590px) and (min-width: 481px) {
    .makeup-artists-profile{
        margin: 40px;
        width: 80%;
    }
}


@media (max-width: 480px) {
    .makeup-artists-profile {
        /* margin: 40px; */
        margin-top: 150px;
        margin-bottom: 20px;
        padding: 10px;
        width: 90%;
        
    }

    .div-address p, .div-service ul li, .div-contact p, .work-pictures h3 {
        font-size: 0.9rem;
    }

    .div-service .book {
        font-size: 0.8rem;
        width: 80px;
    }

    .grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .reviews-section h2 {
        font-size: 1.8rem;
    }

    .reviews-section p,  .post-review-section h3 {
        font-size: 0.9rem;
    }

    .comment-input {
        width: 70%;
        font-size: 0.9rem;
    }

    .review-submit {
        width: 100%;
        font-size: 1rem;
    }
}