
:root{

  --mainColor: #f069ca;
  --secondaryColor: #f5c1d8;
  --textColorWhite: #eee;
  --textColorBlack: black;
}

select{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color: #f4f4f4; */
  background-color: black;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 25px 54px rgba(0, 0, 0, 0.1);
}
::placeholder{
  text-align: center;
}
  
  /* Styles for the Select component (assuming it's a basic dropdown) */
  /* .search-bar select {
    width: 200px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
   */
  /* Responsive styling */
@media (max-width: 768px) {
  .search-bar {
    padding: 8px;
    max-width: 100%;
  }

  .search-bar select {
    font-size: 14px;
    padding: 6px 10px;
  }
}
  
@media (max-width: 480px) {
  .search-bar {
    padding: 6px;
  }

  .search-bar select {
    font-size: 12px;
    padding: 4px 8px;
  }
}
  