
:root{

  --mainColor: #f069ca;
  --secondaryColor: #f5c1d8;
  --textColorWhite: #eee;
  --textColorBlack: black;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.react-select__control {
  background-color: black;
  border-radius: 8px;
  padding: 5px;
  width: 700px;
  font-size: 36px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.react-select__control:hover {
  border-color: var(--secondaryColor);
}

.react-select__placeholder {
  color: var(--mainColor);
  font-size: 18px;
  text-align: center;
}

.react-select__single-value {
  color: white;
  background-color: red;
}

.react-select__menu {
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  background-color: red;
}

/* .react-select__option {
  padding: 10px;
  font-size: 36px;
} */

/* .react-select__option--is-focused {
  background-color: var(--secondaryColor);
  color: var(--textColorWhite);
} */

/* .react-select__option--is-selected {
  background-color: black;
  color: var(--textColorWhite);
} */


 @media (max-width: 768px) {
  .react-select__control {
    font-size: 2rem; 
    width: 500px;
  }

  .react-select__placeholder {
    font-size: 1.2rem; 
  }
}

@media (max-width: 590px) {
  .search-bar {
    /* margin: 30px auto; */
    
  }

  .react-select__control {
    width: 400px;
    font-size: 2rem;
  }

  .react-select__placeholder {
    font-size: 1.1rem; 
  }
}
@media (max-width: 480px) {
  .react-select__control {
    font-size: 2rem; 
  }

  .react-select__placeholder {
    font-size: 1.1rem; 
  }
}