*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f2f6;
}

:root{
    --mainColor: #f069ca;
    --secondaryColor: #f5c1d8;
    --textColorWhite: #eee;
    --textColorBlack: black;
}

.signUp-home {
    font-size: 1.2rem;
    margin: 150px auto 80px auto;
    width: 600px;
    background: var(--mainColor);
    border-radius: 20px;
    padding: 40px;
}

.signUp-home h2{
    padding-bottom: 40px;
    color: var(--textColorWhite);
    text-align: center;
}



input {
    display: block;
    font-size: 1.4rem;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin: 10px auto;
    border: none;
    padding: 5px 10px;
}
.error-text{
    color:red;
    padding-left: 10%;
    font-size: 0.9rem;
}
.submit {
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 200px;
    padding: 10px 0;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: .5s;
    cursor: pointer;
    text-align: center;
}

.submit:hover{
    background-color: var(--secondaryColor);
}

/* Media Queries */
@media (max-width: 768px) {
    .signUp-home {
        margin: 50px auto; 
        width: 80%; 
    }

    input {
        width: 90%;
    }
}

@media (max-width: 600px) and (min-width: 481px) {
    .signUp-home {
        width: 80%; 
        margin: 40px auto; 
    }

    input {
        width: 90%; 
        font-size: 1.3rem; 
    }

    .submit {
        width: 50%; 
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .signUp-home {
        width: 80%; 
    }

    input {
        width: 90%; 
        font-size: 1.2rem; 
    }

    .submit {
        width: 50%; 
        font-size: 1.1rem;
        padding: 10px;
    }
}