*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f2f6;
}

:root{
    --mainColor: #f069ca;
    --secondaryColor: #f5c1d8;
    --textColorWhite: #eee;
    --textColorBlack: black;
}
.signUp-home{
    font-size: 1.2rem;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 60px;
    width: 500px;
    height: 450px;
    background: var(--mainColor);
    border-radius: 20px;
}

.signUp-home h2{
    padding: 40px 0px 40px 0px;
    color: var(--textColorWhite);
    text-align: center;

}

input{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    flex-wrap: wrap;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10%;
    border: none;
    background-color: ;
}
.error-text{
    color:red;
    padding-left: 10%;
}

.submit{
    margin-left: 35%;
    width: 150px;
    background-color: var(--textColorWhite);
    color: var(--white);
    padding: 5px 5px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 15px;
    transition: .5s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .signUp-home {
        margin: 50px auto; /* Reduce top and bottom margin on smaller devices */
        width: 80%; /* Use a higher percentage of the screen width */
    }
}

@media (max-width: 480px) {
    .signUp-home {
        margin: 20px auto; /* Further reduce margin for very small devices */
        width: 65%; /* Use even more of the screen width */
    }
    input{
        width: 80%;
    }

    .signUp-home button {
        width: auto; /* Allow the button to expand as needed */
        padding: 5px 30px; /* Increase padding for a wider button */
    }
}